
<h1><strong>All the superpowers</strong></h1>
<div>
  <% @superpowers.each do |superpower| %>
  <br>
<div class="cards">
 <p><%= superpower.name %></p>
 <p><%= superpower.description%></p>
 <p><%= superpower.price %></p>

 <% end %>
</div>
 </div>
 <%= link_to "Create a new superpower", new_superpower_path %>
