
<h1><strong>All the superpowers</strong></h1>
<div>


  <% @superpowers.each do |superpower| %>
  <li>
 <%= link_to superpower.name, superpower_path(superpower) %>
 <%= superpower.description%>
 <%= superpower.price %>
 <% end %>
 </li>
 </ul>
 </div>
 <%= link_to "Rent your superpower", new_superpower_path %>
