 <div class="containerSP">
        <h1 class="title">SuperPnP</h1>
        <h1 class="title2">SuperPnP</h1>
          <%= link_to superpowers_path do %>
   <%= image_tag "logoSP.png", class:"logoSP" %>
<% end %>
</div>
♻️
