<%= render 'shared/topnavbar' %>
<br>
<br>
<div class="container">

<div class="popup">
<button id="close">&times;</button>
  <h1>Do you feel it ?! You're a Super Hero now !</h1>
  <p>Use it well you have responsibility now</p>


</div>
</div>

