.NewCard {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.386);
  border: 4px solid black;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-family: "avengeance";
  font-weight: 100;
  letter-spacing: 1.5px;

}

.NewCard a {
  color: white;
}
