<h1>Reserves ton superpouvoir :</h1>
<br>
<h2> Petit recap de ta commande :</h2>
<p><%= @superpower.name %> </p>
<p><%= @superpower.description %> </p>
<br>
<br>

<br>
<%=link_to root_path do %>
        <i class="fa fa-history"></i>On revient au menu ?
      <% end %>
