.containerSP {
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.885);
  display: flex;
  justify-self: center;
  align-self: center;
}

.Explore {
  display: inline-block;
  outline: 0;
  border: 1px solid rgba(122, 122, 122, 0.364);
  margin-top: 5%;
  cursor: pointer;
  font-weight: 600;
  color: rgb(26, 26, 178);

  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  box-shadow: 1px 2px 2px rgb(59, 59, 59);
  transition: all .2s ease-out;

}



.Explore:hover {
  box-shadow: 1px 2px 3px rgba(185, 185, 185, 0.473);
}

.title2 {
  position: relative;
  font-weight: bold;
  font-size: 200px;
  margin-left: 5%;
  margin-top: 25%;
  color: rgba(222, 0, 0, 0.637);
  font-family: "Avengeance";
}

.title2:hover {
  color: rgba(222, 0, 0, 0.861);
}


.title {
  position: absolute;
  top: 48%;
  left: 25px;
  font-weight: bold;
  font-size: 200px;
  color: rgba(0, 0, 0, 0.429);
  font-family: "Avengeance";
}

.logoSP {
  object-fit: cover;
  margin-top: 30%;
  height: 300px;

}
