.containerSP {
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
  min-width: 500px;
  background: rgba(0, 0, 0, 0.885);
  display: flex;
  justify-self: center;
  align-self: center;
}

.title2 {
  position: relative;
  font-weight: bold;
  font-size: 200px;
  margin-left: 5%;
  margin-top: 25%;
  color: rgba(222, 0, 0, 0.637);
  font-family: "Avengeance";
}

.title2:hover {
  color: rgba(222, 0, 0, 0.861);
}


.title {
  position: absolute;
  top: 200px;
  left: 20px;
  font-weight: bold;
  font-size: 200px;
  margin-left: 2%;
  margin-top: 20%;
  color: rgba(0, 0, 0, 0.429);
  font-family: "Avengeance";
}

.logoSP {
  object-fit: cover;
  margin-top: 30%;
  height: 300px;
  width: 300spx;
}
