.container-fluid {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF, #C4BCE2, #9083C5, #6554A8, #412E8A, #24126D, #100050);
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon #navbarDropdown {
  width: 140px;
}
