.topnavbar {
  background-color: #202020 !important;
  text-transform: uppercase;
  font-family: "Avengeance" !important;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  box-shadow: 0 0 25px 0 black;
}

.left li {
  float: left;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 14px;
}

.right li {
  float: right;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 4px;
}

ul {
  list-style-type: none;
  padding: 8px;
}

.topnavbar li a {
  color: white;
  text-decoration: none;
  font-family: "Avengeance" !important;


}

.style_user_picture {
  border: 3px solid rgb(196, 192, 210);
  box-shadow: 1px 2px 5px rgba(244, 246, 245, 0.515);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo {
  display: flex;
  justify-content: center;
}

// .style_logo {
//   margin-top: -4%;
//   width: 60%;
//   height: 189%;
//   opacity: 80%;
//   transition-duration: 1s;
// }

// .style_logo:hover {
//   opacity: 100%;
//   transition-duration: 1s;
// }

.style_logo {
  margin-top: -4%;
  width: 60%;
  height: 189%;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.style_logo:hover {
  width: 130px; /* on affiche l'image au carré */
  height: 110px;
  border-radius: 50%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
  padding-top: 20px;
}
// .topnavbar a {
//   transition: all 0.5s;
//   position: relative;
//   padding: 8px 32px;
// }

// .topnavbar a span {
//   z-index: 2;
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }
.topnavbar a {
  display: inline-block;
  position: relative;
  color: B61525;

  font-size: 22px;
}

.topnavbar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #B61525;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topnavbar a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text_left {
  padding-top: 19px;
  padding-left: 20px;

}
