
h1 {
  text-align: center;
}

.container {
  margin-bottom: 30px;
}

.superpowerCard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin: 20px;
}

.superpowerCard a {
  text-decoration: none;

}

.btnsearch {
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 25px 0px 25px 0px;
  text-align: center;
  font-size: 18px;
  background-color: #202020;
  width: 120px;
  margin-right: 100px;
  transition-duration: 0.8s;
}

.btnsearch:hover{
  color:white;
  background-color: #8c8c8c;
  transition-duration: 0.8s;
  transform: translateY(-10px);
}

.btnclear {
  color: white;
  padding: 8px 24px;
  border-radius: 0px 25px 0px 25px;
  text-align: center;
  font-size: 18px;
  background-color: #202020;
  width: 120px;
  transition-duration: 0.8s;
}

.btnclear:hover{
  color:white;
  background-color: #8c8c8c;
  transition-duration: 0.8s;
  transform: translateY(-10px);
}

.cards-container {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap ;
  align-items: center;
}


.superpowerCard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  width: 450px;
  margin:30px;
  transition-duration: 0.8s;
}

.card-trip:hover {
  transform: translateY(-30px);
  transition-duration: 0.8s;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  vertical-align: super;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;

}


.card-trip-infos h3 {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #DE191E;
}

.card-trip-infos h2{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#3a40b6;

}

.card-trip-infos a{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000001;
}


.searchstylecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchstyle {
  width: 750px;
  margin-right: -150px;
}

.pricestyle {
  display: flex;
  width: 200px;
  margin-left: -300px;
}

.datestyle {
  display: flex;
  width: 150px;
  margin-right: 100px;
  margin-left: -450px;
}

.search_bar_button {
  display: flex;
  margin-top: 1px;
  justify-content: center;
}

.text-part {
  color: #202020;
  text-align: center;

  margin: 30px;
  font-size: 30px;
  margin-top: 20px;
}

.search-form {
  margin: 30px;
  flex-basis: 40%;

}

.card-trip img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

#color {
  color:black;
}
