

h1 {
  text-align: center;
}

.container {
  margin-bottom: 30px;
}

.superpowerCard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin: 20px;
}

.superpowerCard a {
  text-decoration: none;

}

.btn-ghost {
  color: white;
  border: 1px solid #0D285E;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  // transition: opacity 0.3s ease;
  font-size: 18px;
  background-color: #0D285E;
}

.btn-ghost:hover{
  color:white;
  background-color: #1F4D84;
}

.cards-container {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap ;
  align-items: center;
}


.superpowerCard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  width: 450px;
  margin:30px;

}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  vertical-align: super;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;

}

.card-trip-infos h2{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#3a40b6
}

.card-trip-infos a{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#3a40b6
}

.search-bar-container {
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.search_bar_button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.text-part {
  color: #0D285E;
  border: 2px solid #0D285E;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 300px;
  height: 300px;
  text-align: center;
  flex-basis: 60%;
  margin: 30px;
  font-size: 30px;
}

.search-form {
  margin: 30px;
  flex-basis: 40%;

}

.card-trip img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}
