body {
  position: relative;
  background-color: white;
}

.popup {
  position: fixed;
  border: 2px solid black;
  top: 30%;
  right: 25%;
  background-color: white;
  padding: 30px 40px;
  width: 600px;
  border-radius: 0 25px 0 25px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;

  &.active {
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 3;
    filter: blur(0);
  }
}

.img_prez {
  border: 3px solid black;
  border-radius: 25px;
  background-image: url(../images/superpower.jpg);
}

.bigbigcontainer {
  &.active {
    filter: blur(8px);
  }
}

.bigcontainer {
  padding-top: 15%;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
}

.croix {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-left: 100%;
  height: 20px;
  width: 100px;
}


.popup h1 {
  text-align: center;
}

.bookingcontainer {
  order: 1;
}

.superpower_card {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0D285E;
  padding: 40px 24px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



.review_content {
  border: 2px solid #0D285E;

}

.carousel-inner {
  height: 200px;
  width: 300px;

}


.btn-secondary {
  text-decoration: none;

.superpower_card a{
  text-decoration: none !important;
  color:white !important;
}
